body {
  margin: 0;
  padding: 0;
  background: #06a562;
  font-family: "Poppins", sans-serif;
}
.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  display: block;
}
.grid {
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-column-gap: 8em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 212px 100px 1fr 1fr 1fr;
  grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line";
}
.character-image-container {
  grid-area: avatar;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  text-decoration: none;
}
.arrow {
  cursor: pointer;
  grid-area: arrow;
  /* border: 1px solid white; */
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.learn-more {
  grid-area: learn-more;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url("../images/learn-more.svg");
  background-repeat: no-repeat;
  background-position: left 170px bottom 5px;
}
.asset.top {
  grid-area: asset-top;
  /* border: 1px solid red; */
}
.asset {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}
.asset.bottom {
  grid-area: asset-bottom;
  /* border: 1px solid green; */
  justify-content: flex-end;
}

.social {
  grid-area: social;
  /* border: 1px solid red; */
}
.navigation {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation.name {
  grid-area: name;
  /* border: 1px solid purple; */
}
.navigation.about {
  grid-area: about;
  /* border: 1px solid purple; */
}
.navigation a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
}
.character-name-container {
  grid-area: character-name;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  padding-inline-start: 1em;
}
.character-description-container {
  grid-area: character-description;
}
/* ------------- */
/* .navigation {
  transform-origin: left bottom; 
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 2em;
  height: calc(100vh - 8em);
  bottom: 0;
  text-align: center;
  border: 1px solid red; 
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
  display: none;
} */

.navigation .navigation-text {
  display: inline-flex;
  /* padding: 20px 0; */
  margin-inline: 35px;
}
.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  display: inline-flex;
  margin-inline: 5px;
}
.links {
}
.line {
  width: 2px;
  height: 150px;
  background: black;
  display: inline-flex;
  margin-inline: 15px;
}
.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 2em;
}
.character {
  text-align: center;
}
.character-image {
  grid-area: name;
  width: 300px;
  border-radius: 50%;
}

.character-label {
  background: #685128;
  padding: 1em;
  color: rgb(250, 250, 250);
  border-radius: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
}

.character-name {
  font-size: 40px;
}
/* 
@media screen and (min-width: 1024px) {
  .character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name image" "labels image";
  }
  .character-image {
    grid-area: name;
    width: 300px;
    border-radius: 50%;
  }
  .character-name {
    text-align: left;
  }
  .character-name h2 {
    font-size: 50px;
    position: relative;
    display: inline-flex;
  }
  .character-name h2::after {
    content: "";
    width: 87px;
    height: 6px;
    background-color: #f7391c;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
  }
  .character-labels {
    grid-area: labels;
    max-width: 300px;
  }
  .character-image {
    grid-area: image;
  }
} */
@media screen and (max-width: 1440px) {
  .grid {
    column-gap: 2em;
  }
}
@media screen and (max-width: 1024px) {
  .grid {
    height: auto;
    padding: 2em 0;
    width: calc(100vw - 2em);
    margin: 0 auto;
    column-gap: 1em;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "logo logo logo" "name avatar avatar" "name character-name character-name" "about character-description character-description" "learn-more learn-more arrow" "social social social";
    /* "asset-top logo social" "name avatar social" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line"; */
  }
  .asset {
    display: none;
  }
  .logo {
    max-width: 100%;
  }
  .character-name-container {
    justify-content: center;
    margin-top: 1em;
  }
  .character-name {
    font-size: 24px;
    text-align: center;
  }
  .social {
    text-align: center;
    margin-top: 2em;
  }
  .learn-more {
    padding-inline-start: 1em;
  }
  .social a {
    margin-left: 2em;
  }
  .social a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .character-image {
    width: 100%;
  }
}
